.listItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: white;
    border-radius: 25px;
    width: 100%;
   
    padding: 10px;
    margin-bottom: 10px;
}
.divS{
    margin-right: 20px;
    border-radius: 25px;
    
    box-shadow: 1px 3px 5px wheat;
}
.mainSide{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.sideDate{
    font-size: 2em;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.titleSpan{
    font-size: 2em;

}
.sideBtn{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sideBtn button{
    width: 7em;
}
.weekDay{
    text-align: start;
}
.time{
    font-size: large;
}