*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 100vh;
    background-color: #F9F6EE;
    width: 100%;
}
.header-grey{
    color: grey;
    font-family: sans-serif;
}
.submain{
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    width: 60%;

}
.topBar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.btn.btn-outline-primary,.btn.btn-outline-info{
    font-weight: 500;
}

.taskInputContainer{
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: -100vh;
    transition: 0.3s ease-in;
    background-color: rgba(114, 87, 87, 0.836);
}
.taskInput{
    padding: 20px;
    width: 20em;
    margin: 10% 40%;
    border: 1px solid black;
    background-color: white;
}
.inputBar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.header-bold{
    font-weight: 500;
    font-size: 1.5em;
}
.inputBar input{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.4em;
}
.buttons{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 1em;
    
}
#editModel{
    position: relative;
    top: -100vh;
    transition: 0.3s ease-in-out;
}
@media (max-width:600px){
    .topBar{
        margin: 20px 5px 0px 5px ;
        width: 100%;
        justify-content: space-around;
    }
    .submain{
        width: 100%;
        margin: 0px;
    }
    .listItem{
        margin:20px 10px 0px 10px;
        width: 95%!important;
    
    }
    .taskInput{
        margin: 15% 15% 0 15%;
        width: 70%;
    }
    .taskInputContainer{
        justify-content: center;
        align-items: center;
    }
}